<div class="container-fluid">
	<div class="row">
		<ul id="navigation" class="col-md-2">
			<li><a href="#/assignments">Assignments</a></li>
			<li><a href="#/documents">Documents</a>
                <ul>
                    <li><a href="#/documents/newsclips">Newsclips</a></li>
                </ul>
            </li>
			<li><a href="#/batches">Batches</a></li>
			<li><a href="#/files">Files</a></li>
			<li><a href="#/users">Users</a></li>
		</ul>
		
		<div class="col-md-10">
			<h1>Create User</h1>
            <form role="form" name="form" novalidate>
                <div class="form-group row"><div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Temple Accessnet" ng-model="accessnet" required />
                </div></div>
				<div class="form-group row"><div class="col-md-6">
					<input type="text" class="form-control" placeholder="First Name" ng-model="fname" required />
				</div></div>
				<div class="form-group row"><div class="col-md-6">
					<input type="text" class="form-control" placeholder="Last Name" ng-model="lname" required />
				</div></div>
                
                <div class="form-group row"><div class="col-md-12">
                    <div class="btn-group" dropdown is-open="role_dd_status">
                        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-click='role_dd_status=!role_dd_status'>
                            {{role_type.name | isUndefined:'Select User Role'}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="choice in role_dd_items">
                                <a href ng-click="setRoleType(choice)">{{choice.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div></div>
                
                <div class="form-group margin-top-xlarge">
                    <button type="button" class="btn btn-primary" ng-click="create()" ng-disabled="form.$invalid||processing||!role_type.name">
                        Create
				        <i ng-show="processing" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
            </form>
		</div>
	</div>
</div>