<div ng-class="{transparent: !loaded}">
    <div class="grid-heading">Current Users</div>
    <div class="grid-buttons">
        <div class="grid-button" ng-click="refresh()" title="Refresh the list"><i class="fa fa-refresh"></i></div>
        <div class="grid-button" ng-click="deleteSelected()" ng-class="{disabled: processing_del}" title="Delete users"><i class="fa fa-minus"></i></div>
        <div class="grid-button" ng-click="addSelected()" ng-class="{disabled: processing_add}" title="Add users"><i class="fa fa-plus"></i></div>
    </div>
    <div ui-grid="gridBatchUsersOptions" ui-grid-cellnav ui-grid-selection class="grid half-left"></div>
    <div ui-grid="gridUsersOptions" ui-grid-cellnav ui-grid-selection class="grid half-right"></div>
</div>
<div class="connection-problem" ng-class="{concealed: !requestFailed}">
    <i class="fa fa-warning"></i>
    <div class="message">There was a problem contacting the server.<br>Please ensure you have a strong connection.</div>
</div>
<div class="loading-animation" ng-class="{concealed: (loaded || requestFailed)}">
    <div class="loading-animation-bg">
        <i class="fa fa-refresh"></i>
    </div>
</div>