<div class="container-fluid">
	<div class="row">
		<ul id="navigation" class="col-md-2">
			<li><a href="#/assignments">Assignments</a></li>
			<li><a href="#/documents">Documents</a>
                <ul>
                    <li><a href="#/documents/newsclips">Newsclips</a></li>
                </ul>
            </li>
			<li><a href="#/batches">Batches</a></li>
			<li><a href="#/files">Files</a></li>
			<li><a href="#/users">Users</a></li>
		</ul>
		
		<div class="col-md-5" ng-class="{transparent: !loaded}">
            <h1>Current Users</h1>
            <div ui-grid="gridBatchUsersOptions" ui-grid-selection class="grid"></div>
            <button type="button" class="btn btn-primary" ng-click="deleteSelected()" ng-disabled="processing_del">
                Delete User(s)
                <i ng-show="processing_del" class="fa fa-spinner fa-spin"></i>
            </button>
		</div>
        
        <div class="col-md-5">
            <h1>Add Users</h1>
            <div ui-grid="gridUsersOptions" ui-grid-selection class="grid"></div>
            
            <button type="button" class="btn btn-primary" ng-click="addSelected()" ng-disabled="processing_add">
                Add User(s)
                <i ng-show="processing_add" class="fa fa-spinner fa-spin"></i>
            </button>
		</div>
        <div class="connection-problem" ng-class="{concealed: !requestFailed}">
            <i class="fa fa-warning"></i>
			<div class="message">There was a problem contacting the server.<br>Please ensure you have a strong connection.</div>
		</div>
        <div class="loading-animation" ng-class="{concealed: (loaded || requestFailed)}">
            <div class="loading-animation-bg">
                <i class="fa fa-refresh"></i>
            </div>
		</div>
	</div>
</div>