<div ng-class="{transparent: !loaded}">
    <div class="grid-heading">Newsclip</div>
    <form role="form" name="form" novalidate>
		<div class="form-group row"><div class="col-md-12">
            <input type="text" class="form-control" placeholder="Headline" ng-model="Headline" required />
        </div></div>
        <div class="form-group row"><div class="col-md-12">
            <textarea class="form-control" placeholder="Abstract" ng-model="Abstract" required></textarea>
        </div></div>
		
		<div class="form-group row margin-bottom-large">
            <div class="col-md-3">
                <datepicker ng-model="dt" show-weeks="false" class="well well-sm margin-bottom-xsmall" style="display:inline-block"></datepicker><br />
                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
            </div>
            <div class="col-md-9"><div class="row">
                <label ng-repeat="filter in filters" class="col-md-2"><input type="checkbox" ng-model="filter.value" value="1" ng-checked="filter.value == 1" /> {{filter.name}}</label>
			</div></div>
        </div>

		<div class="form-group row"><div class="col-md-12">
			<input type="text" ng-model="Newspaper" typeahead="newspaper.name for newspaper in newspapers | limitTo:8" class="form-control" placeholder="Newspaper">
		</div></div>
		
        <div class="form-group margin-top-xlarge">
            <button type="button" class="btn btn-primary" ng-click="create()" ng-disabled="form.$invalid||processing||!Newspaper">
                Save
                <i ng-show="processing" class="fa fa-spinner fa-spin"></i>
            </button>
        </div>
    </form>
</div>
<div class="connection-problem" ng-class="{concealed: !requestFailed}">
    <i class="fa fa-warning"></i>
    <div class="message">There was a problem contacting the server.<br>Please ensure you have a strong connection.</div>
</div>
<div class="loading-animation" ng-class="{concealed: (loaded || requestFailed)}">
    <div class="loading-animation-bg">
        <i class="fa fa-refresh"></i>
    </div>
</div>