<div class="container-fluid">
	<div class="row">
		<ul id="navigation" class="col-md-2">
			<li><a href="#/assignments">Assignments</a></li>
			<li><a href="#/documents">Documents</a>
                <ul>
                    <li><a href="#/documents/newsclips">Newsclips</a></li>
                </ul>
            </li>
			<li><a href="#/batches">Batches</a></li>
			<li><a href="#/files">Files</a></li>
			<li><a href="#/users">Users</a></li>
		</ul>
		
		<div class="col-md-10">
			<h1>Newsclips</h1>
            <div ui-grid="gridNewsclips" class="grid" ui-grid-selection></div>
			
			<button type="button" class="btn btn-primary" ng-click="doBatchAction('add')" ng-disabled="processing_adding_batch" ng-show="adding_batch">
                Add to Batch
                <i ng-show="processing_adding_batch" class="fa fa-spinner fa-spin"></i>
            </button>
			<button type="button" class="btn btn-primary" ng-click="doBatchAction('delete')" ng-disabled="processing_deleting_batch" ng-show="deleting_batch">
                Delete from Batch
                <i ng-show="processing_deleting_batch" class="fa fa-spinner fa-spin"></i>
            </button>
		</div>
	</div>
</div>