// out: null

/* Colors */
@base_fontcolor:#222;
@base_bgcolor:#f7f7f7;
@base_bordercolor:#e0e8ea;

@footer_darker:#070707;
@footer_dark:#303030;

@cherry_red:#9e1b34;
@cherry_red_dark: #4b0116;

@white:#fff;
@white_alt:#fafafa;
@black:#000;

@ash_gray:#a9b3b7;
@light_blu:#6695af;
@orange:#c76a30;

/* Margin/Padding Sizes. */
@mp_xsmall:5px;
@mp_small:10px;
@mp_medium:20px;
@mp_large:30px;
@mp_xlarge:40px;

/* Global vars for element sizes. */
@body_min_height: 300px;
@nav_item_height: 30px;